@import '../../../../global.scss';

.content-preference-section {
   
    &-header-wrapper {
        display: flex;
        gap: clamp(7px, .5208vw, 10px);
        margin-bottom: 2.7344vw;
        align-items: center;
        @media (max-width: 500px) {
            padding-left: 15px;
        }
        .content-preference-section-header {
            font-weight: 600;
            font-size: clamp(13px, 1.5625vw, 30px);
            line-height: 1.9792vw;
            letter-spacing: 0%;
            color: $white;

           
        }
        .content-preference-section-icon {
            width: clamp(20px, 3.1771vw, 61px);
            aspect-ratio: 1/1;
        }
    }

    .no-content-preferences-wrapper {
        padding-top: clamp(15px, 1.4583vw, 28px);
        width: 35.9896vw;
        padding-bottom: 2.6042vw;
        margin-left: auto;
        margin-right: auto;
        background: #26262699;
        border-radius: .625vw;
        margin-bottom: 4.6354vw;
        @media (max-width: 840px) {
            width: 80%;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
        .watch-back-arrow {

            margin-left: clamp(16px, 1.5604vw, 29.9597px);
            background: transparent;
        }

        .ncp-detail-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.3021vw;
            align-items: center;
            width: 22.6563vw;
            aspect-ratio: 435 / 327;
            margin-top: 3.3333vw;
            margin-bottom: 9.9479vw;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 840px) {
                width: 90%;
            }
            @media (max-width: 500px) {
                width: 80%;
            }
            .no-content-preferences-img {
                margin-top: 1.5104vw;
                width: clamp(100px, 9.1146vw, 175px);
                // height: 138.5417022705078;
                aspect-ratio: 175 / 175;

                path {
                    fill: $black-08;
                }


            }

            .no-content-preferences-text {
                font-weight: 500;
                font-size: clamp(10px, .8333vw, 16px);
                line-height: clamp(14px, 1.25vw, 24px);
                letter-spacing: 0%;
                text-align: center;
                color: $white;
            }
        }

        .content-pref-step2 {
            display: flex;
            flex-direction: column;
            width: 27.6042vw;
            gap: clamp(15px, .9375vw, 18px);
            margin-top: 2.5vw;
            margin: auto;
            margin-top: clamp(20px, 2.5vw, 48px);
            margin-bottom: clamp(40px, 8.5938vw, 165px);
            @media (max-width: 840px) {
                width: 90%;
            }
            @media (max-width: 500px) {
                width: 80%;
            }
            .content-pref-detail {
                align-items: center;
                display: flex;
                padding: clamp(8px, .8333vw, 15.9994px) clamp(12px, .9375vw, 18px);
                background: #141414;
                border: 2px solid #333333;
                box-shadow: 0px 1px 0px 0px #363B4740 inset;
                aspect-ratio: 530 / 60;
                border-radius: 6px;

                .content-pref-detail-text {
                    font-family: Manrope;
                    font-weight: 500;
                    font-size: clamp(10px, .8333vw, 16px);
                    line-height: 1.25vw;
                    letter-spacing: 0%;
                    color: $white;
                }
            }
        }

        .content-pref-step3 {
            margin-bottom: clamp(80px, 6.9271vw, 133.0003px);

            @media (max-width: 600px) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .edit-preferences-btn {
            width: fit-content;
            // height: 49;
            
            aspect-ratio: 528 / 49;
            border-radius: 6px;
            padding: clamp(10px, .7292vw, 14px) clamp(7px, 1.0417vw, 20px);
            font-weight: 600;
            font-size: clamp(10px, .7292vw, 14px);
            line-height: 150%;
            letter-spacing: 0%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}