@import '../../../global.scss';

.checkbox-group {
    display: flex;
    gap: 10px;
    align-items: center;


    &.checkbox-delivery {
        flex-direction: row;
        justify-content: space-between;
        width: 596;
        height: 61;
        border-radius: 6px;
        padding: clamp(14px, .8333vw, 16px);
        background: $black-08;
        border: 2px solid $black-20;

        .checkbox-label {
            order: 1; // label first

        }

       
    }

    .checkbox-input {
        width: clamp(12px, 1.458vw, 27px );
        // height: 28px;
        aspect-ratio: 1 / 1;
        border: 1px solid $black-15;
        border-radius: 4px;

    }


}