@import "../../../_global.scss";

.forgot-password-form-wrapper {
    color: $secondary-60;
    margin-top: clamp(30px, 2.865vw, 55px);

    .forgot-password-paragraph-1 {
        font-weight: 500;
        font-size: clamp(13px, 1.25vw, 24px);
        line-height: 1.667vw;
        letter-spacing: 0%;
        text-align: center;

    }

    .forgot-password-paragraph-2 {
        font-weight: 500;
        font-size: clamp(10px, 0.938vw, 18px);
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;
        margin-top: 1.302vw;
    }

    .forgot-password-form {
        margin-top: clamp(20px, 1.38vw, 26.496px);

        .radio-options {
            display: flex;
            flex-direction: column;
            gap: clamp(20px, 1.302vw, 25px);
        }

        .forgot-password-paragraph-3 {
            font-weight: 500;
            font-size: clamp(10px, 0.938vw, 18px);
            line-height: 150%;
            letter-spacing: 0%;
            vertical-align: middle;
            margin-top: clamp(18px, 1.224vw, 23.5px);
        }

    }

    .send-email-btn {
        width: 100%;
        // width: 553;
        // aspect-ratio: 553/ 63;
        // height: 63;
        // border-radius: 0.417vw;
        // border-width: 1px;
        // gap: 10px;
        padding: clamp(10px, .938vw, 18px) clamp(14px, 1.25vw, 24px);
        font-weight: 600;
        font-size: clamp(10px, 0.938vw, 18px);
        line-height: 150%;
        letter-spacing: 0%;
        background: linear-gradient(136.62deg, rgba(10, 72, 52, 0.35) 6.32%, rgba(5, 84, 60, 0.312922) 44.93%, rgba(15, 15, 15, 0.5) 88.82%);
        border: .9984px solid;
        border-image-source: linear-gradient(117.79deg, rgba(5, 84, 60, 0.625843) 26.56%, rgba(255, 255, 255, 0.1) 73.44%);
        box-shadow: 0vw 0.104vw 0vw 0vw #FFFFFF0A inset;
        margin-top: 55px;
    }



}

.remember-account-wrapper {
    display: flex;
    font-weight: 500;
    font-size: clamp(10px, 0.938vw, 18px);
    line-height: 150%;
    letter-spacing: 0%;
    gap: clamp(3px, 0.26vw, 5px);
    margin-top: 2.865vw;
    margin-bottom: 10vw;
    color: $secondary-40;

    .remember-account-text {}

    .signin-now-link {
        text-decoration: none;
        color: $secondary-40;
    }
}

.instructions-sent-container {
    margin-top: clamp(20px, 2.865vw, 55px);
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 1.302vw, 25px);
    color: $secondary-60;

    .instructions-sent-header {
        font-weight: 500;
        font-size: clamp(20px, 1.25vw, 24px);
        line-height: 1.667vw;
        letter-spacing: 0%;
        text-align: center;

    }

    .instructions-sent-paragraph {
        font-weight: 500;
        font-size: clamp(10px, 0.938vw, 18px);
        line-height: 150%;
        letter-spacing: 0%;
        vertical-align: middle;

        .email-span {
            color:  #5B7F60;
    }
    }
}